<!DOCTYPE html>
<html lang="en">
<head>
    <title>Form</title>
</head>
<body>
    <form method="POST" action="/new">
        <label for="author">Your name:</label>
        <input type="text id="author" name="author" required>

        <label for="message">Your message:</label>
        <textarea type="text" id="message" name="message"></textarea>
        <button type="submit">Send</button>
     </form>
</body>
</html>