<!-- index.ejs -->
<html>
  <head>
    <!-- <link rel="stylesheet" href="/styles.css"> -->
    <title>%= title %></title>
  </head>
  <body>
    <ul>
        <% messages.forEach((message) => { %>
            <%- `"${message.text}" - ${message.user}, ${message.added}` %>
        <% }); %>
    </ul>     
  </body>
</html>
